*{
    margin: 0;
    padding: 0;
}
nav {
    background:black;
    color:white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    
}
.logo h1 a{
    text-decoration: none;
}
footer{
    background:black;
   
    height: 50px;
    width: 100%;
}
ul.menu{
    display: flex;
    list-style: none;
}
ul.menu li{
    margin-left: 1rem;

}
ul.menu li a{
    color: white;
    text-decoration: none;
}
.logo h1 a{
    color: rgb(255, 255, 255);
}
form.login{
   
   display: flex;
   flex-direction: column;
}
div.login{
    background: rgb(219, 219, 219);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:top;
}
input.textbox{
 border: none;
 outline: none;
 margin: 5px;
 height: 45px;
 width: 500px; 
 border-radius: 10px;
}

form.login h1{
    text-align: center;
    font-size: 3rem;
    margin: 20px;
}
input.btn-submit{ 
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border: none; 
    margin: 5px;
    height: 45px;
    width: 500px;   
    border-radius: 20px;
   
}
div.forgot{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
   
}
div.forgot a{
    color: rgb(0, 0, 0);
}
label.sign{
    display: flex;
    justify-content: center;
    color: rgb(117, 117, 117);
}
label.sign a{
 color: rgb(0, 0, 0);
}

p{
    color: rgb(117, 117, 117);
}
div.register{
    background: rgb(219, 219, 219);
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:top;
}
form.register h1{
    text-align: center;
    font-size: 3rem;
    margin: 20px;
}
div.head{
   display: flex;
   align-items: center;
   text-align: center;
   margin-top: 40px;
   margin-bottom: 20px;
}
.remember{
    margin-top: 10px;
    margin-bottom: 20px;
}
.head hr{
    flex: 1;
    border: 1px solid rgb(117, 117, 117);
    margin-left: 30px;
    margin-right: 30px;
}

div.alert{
    
    
   
    margin-top: 10px;
    margin-bottom: 20px;
}
.alert p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 520px;
    background-color: rgb(255, 194, 194);
    
    color: red;
    border-radius: 5px;
}
div.success{
    
    
   
    margin-top: 10px;
    margin-bottom: 20px;
}
.success p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 520px;
    background-color: rgb(175, 248, 172);
    
    color: rgb(1, 68, 15);
    border-radius: 5px;
}
